/* CABEÇALHO */
form a{
    color: var(--texto);
    text-decoration: none;
}
/* .carousel-inner{
    height: 800px;
    background-color: black;
} */
p,h3{
    font-family: Arial, Helvetica, sans-serif !important;
}
.card button{
    border-radius: 5px;
    background-color:rgb(212, 111, 111);
    border: none;
    width: 10rem;
}
.card button:hover{
    background-color: #b85b90;
}
@media screen and (max-width:1050px){
    #catalogoProdutos{
        align-items: center;
        flex-direction: column;
    }
}  #catalogoProdutos section{
    width: 100%;

}
#carrinho1{
    font-family: Arial, Helvetica, sans-serif;
}
#abrirCarrinho{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


#fecharCarrinho{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


#lista-carrinho input {
    width: 50px; /* Defina a largura desejada para o input */
  }